name: Deploy Dashboard to OCI

on:
  push:
    branches:
      - main

jobs:
  # -----------------------------------------------
  #  도커 이미지 빌드 및 푸시 (ARM/AMD 겸용)
  # -----------------------------------------------
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image (Multi-platform)
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          # 도커 이미지 이름
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/github-dashboard:latest
          platforms: linux/amd64,linux/arm64

          cache-from: type=gha
          cache-to: type=gha,mode=max

  # -----------------------------------------------
  # OCI 서버에 배포 (NPM 네트워크 사용)
  # -----------------------------------------------
  deploy-to-oci:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.HOST_SSH_KEY }}
          known_hosts: 'just-a-placeholder'

      - name: Deploy to OCI
        run: |
          export SSH_OPTS="-o StrictHostKeyChecking=no"
          
          ssh $SSH_OPTS ${{ secrets.HOST_USERNAME }}@${{ secrets.HOST_IP }} << 'EOF'
          
            
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/github-dashboard:latest
          
           
            docker stop dashboard-app || true
            
            docker rm dashboard-app || true
          
            docker run -d --name dashboard-app --network=npm-network --restart always -e SPRING_DATASOURCE_URL="jdbc:mysql://172.18.0.1:3306/dashboard" -e SPRING_DATASOURCE_USERNAME="${{ secrets.DB_USER }}" -e SPRING_DATASOURCE_PASSWORD="${{ secrets.DB_PASS }}" -e GITHUB_TOKEN="${{ secrets.MY_GITHUB_TOKEN }}" ${{ secrets.DOCKERHUB_USERNAME }}/github-dashboard:latest

            docker image prune -f
          
          EOF